table, th, tr, td {
    border: 3px solid black;
    border-collapse:collapse;
    text-align: center;
    padding: 5px;
}
thead, tfoot {
    background-color: #cc7e85;
}

body {
    font-family: "Figtree", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        background-color: #a3b4a2;
}

td {
    background-color: #c5afa4;
}

caption {
    font-size: 24px;
    margin-bottom: 8px;
}

img {
    padding-top: 5px;
}